/* @media screen and (min-width: 768px){
    #diorSauvage, #armaniStronger, #yves{ 
        flex-direction: row;
        gap: 2rem;
    }
}

@media screen and (min-width: 1024px){ 
    #diorSauvage, #armaniStronger, #yves{ 
        max-width: 1000px;
        margin: 0 auto; 
    }

    #header{ 
        padding: 3rem 0;
    }
    
    .footer{ 
        padding: 2rem 0; 
    }
} */

body{ 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0; 
    padding: 0; 
    background-color: #2b2b2b;
    color: #ffffff; 
}

/* Replaced by bootstrap  */

/* .site-header{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ffffff;
} */

#currently-trending-list li{ 
    counter-increment: item;
    display: flex;   
    align-items: center;
    position: relative;
}

#currently-trending-list li::before{ 
    content: counter(item) "."; 
    font-size: 40px;
    font-weight: bold;
    text-align: right; 
}

/* *COMMENT* THis sections that is commented off was na experiment of me trying to attend a zigzag method unfortunately it did not work  */
/* #currently-trending-list li img:nth-child(even){ 
    display: flexbox;
    flex-direction: row-reverse; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

#currently-trending-list li img:nth-child(even)::before{ 
    display: flexbox;
    flex-direction: column-reverse; 
    align-items: center;
    justify-content: center;
    text-align: center;
} */

/* commented out because bootstrap is taking care of it */
/* #diorSauvage{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#armaniStronger{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#yves{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

} */

/* #trendingListTitle{
    text-align: center;
} */

.site-header{ 
    background-color: #ffffff;
    color: black;
}

.site-footer{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    background-color: #ffffff;
    color: black;
}