/* @media screen and (min-width: 768px){
    #chanel, #Paco, #Tom, #versace { 
        flex-direction: row;
        gap: 2rem;
    }
}

@media screen and (min-width: 1024px){ 
    #chanel, #Paco, #Tom, #versace { 
        max-width: 1000px;
        margin: 0 auto; 
    }

    #headerTwo{ 
        padding: 3rem 0;
    }
    
    .footer2{ 
        padding: 2rem 0; 
    }
} */

body{ 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0; 
    padding: 0; 
    background-color: #2b2b2b;
    color: #ffffff; 
}

/* #classicFavoritesTitle{ 
  text-align: center;
} */

/* experimenting with linear gradient background color switching */
#headerTwo{ 
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; */
    background: linear-gradient(to bottom, #ffffff 65%, #2b2b2b);
    color: black;
}

/* #chanel{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#Paco{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#Tom{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

#versace{
    display:flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center;
} */

.footer2{ 
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    background: linear-gradient(to bottom, #2b2b2b 1%, #ffffff);
    color: black;
}